code_to_launch="heatmap_detection_patched.py";TARGET_NU=2;TARGET_NT=2;delta_U_vals_full=np.linspace(30, 60.0, TARGET_NU);delta_t_vals_full=np.linspace(0.1e-9, T_final - t_imp, TARGET_NT);psi0_label = "singlet-singlet";init_sig = [st_L["S"], st_R["S"]];psi0 = [st_L["S"].unit(), -st_R["S"].unit()];
code_to_launch="heatmap_qubit_patched.py";TARGET_NU=2;TARGET_NT=2;delta_U_vals_full=np.linspace(30, 60.0, TARGET_NU);delta_t_vals_full=np.linspace(0.1e-9, T_final - t_imp, TARGET_NT);psi0_label = "singlet-singlet";init_sig = [st_L["S"], st_R["S"]];psi0 = [st_L["S"].unit(), -st_R["S"].unit()];
